html {
  background-color: #2A2730;
  color: #99979C;
}
body {
  background-color: #2A2730;
  color: #99979C;
}
footer {
  text-align:center;
  margin-top: 1em;
  margin-bottom: 0;
  padding: 5em;
  color: #99979C;
  background-color: #2A2730;
  width: 100%;
  bottom: 0px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #fff;
}

.titles{
  transition: margin-left 1s, opacity 1s;
  margin-left: 0px;
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.titles.fadeout {
  margin-left: 100px;
  opacity: 0;
}
.titles.fadein {
  margin-left: 100px;
  opacity: 0;
}


.jumbotron a,
.jumbotron a:hover {
  color: #333;
  text-decoration: none;
}
#titles,
div#artimagelayer,
div#playstatuslayer {
  transition: height 1s ease-in-out, background 1s ease-in-out;
  background-repeat: no-repeat;
  background-color: #eee;
}
div#artimagelayer {
  color: #333;
  background-size: cover;
  background-position: center 30%;
}
div#playstatuslayer {
  background-size: auto 140%;
  background-position: 105% center;
  background-blend-mode: overlay;
}
div#artimagelayer.contains-image > #playstatuslayer {
  background-color: transparent;
  height: 30em;
  background-size: auto 15%;
  background-position: bottom 5px right 5px;
}
div#artimagelayer.contains-image #playstatuslayer * {
  transition: opacity 2s ease-in-out 1s;
  opacity: 0;
}
div#artimagelayer.contains-image #playstatuslayer .titles > * {
  background-color: rgba(238, 238, 238, .25);
}
div#artimagelayer.contains-image:hover #playstatuslayer {
  height: 100em;
}
div#artimagelayer.contains-image:hover #playstatuslayer * {
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

.volume-control {
  margin-top: 2em;
}
.volume-control label {
  width: 100%;
}

.statusbadge {
  transition: fill .5s;
}
.statusbadge.statusbadge-problem {
  fill: #B02727;
}
.statusbadge.statusbadge-progress {
  fill: #B1AF27;
}
.statusbadge.statusbadge-ok {
  fill: #279127;
}

/*.banner-scroll {
 * overflow-x: scroll;
 *}
 */
