<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div id="artimagelayer">
      <div id="playstatuslayer" class="jumbotron"
        data-bckgrnd-play="{{ static_url("img/play.svg") }}"
        data-bckgrnd-pause="{{ static_url("img/pause.svg") }}"
        data-bckgrnd-stop="{{ static_url("img/stop.svg") }}">
        <div class="container">
          <div class="titles">
            <h1 class="banner-scroll">
              <small class="hidden-xs">current:</small>
              <a data-toggle="collapse" href="#track-details" aria-expanded="false">
                <span id="current" data-toggle="tooltip">My wonderful track</span>
              </a>
            </h1>
            <h2 id="next-heading" class="banner-scroll"><small>next:</small> <span id="next">Next wonderful track</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row text-center">

        <div class="collapse" id="track-details">
          <h3 data-toggle="collapse" href="#track-details">Track Details:</h3>
          <div class="well">
            <p><b>Artist:</b> A awesome artist</p>
          </div>
          <p><i><img id="artimage" class="artimage img-thumbnail" src="" alt="No cover image"></i><p>
        </div>

      </div>
    </div>

    <div id="mediabtns" class="container">
      <div class="row text-center">

        <div class="input-group input-group-lg">
          <span class="input-group-btn">
            {% for key in ['backward', 'play', 'pause', 'stop', 'forward'] %}
            <button id="{{ key }}-btn" class="btn btn-default media-button" type="button" onclick="{{ key }}();">
              <span class="glyphicon glyphicon-{{ key }}"></span>
            </button>
            {% end for %}
          </span>
        </div>

      </div>
    </div>

    <footer>
      <div class="container">
        <h1>{{ title }}
          <span class="statusbadge statusbadge-progress">
            <svg height="32" width="32">
              <defs>
                <filter id="status-filter-gauss" height="2.2" width="2.2" y="-0.6" x="-0.6">
                  <feGaussianBlur stdDeviation="5" />
                </filter>
              </defs>
              <circle r="8" cy="16" cx="16"/>
              <circle r="8" cx="16" cy="16" style="filter:url(#status-filter-gauss)"/>
            </svg>
          </span>
        </h1>
        <p>{{ description }}</p>
      </div>
      <p><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;<a href="{{ authors_url }}">{{ author }}</a>&nbsp;·&nbsp;{{ license }}
      &nbsp;·&nbsp;<span class="glyphicon glyphicon-console"></span>&nbsp;<a href="{{ url }}">GitHub</a></span>
      &nbsp;·&nbsp;Made with <span class="glyphicon glyphicon-heart-empty"></span> and <a href="https://getbootstrap.com">Bootstrap</a></span>
      </p>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha384-6ePHh72Rl3hKio4HiJ841psfsRJveeS+aLoaEf3BWfS+gTF0XdAqku2ka8VddikM" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- The main javascript -->
    <script type="text/javascript">
wsurl = "{{ reverse_url("websocket") }}";
// tooltips
$(document).ready( function() {
  $('[data-toggle="tooltip"]').tooltip({
    placement : 'bottom',
    title: ' <span class="glyphicon glyphicon-info-sign"></span> Display track info',
    html: true,
  });
  $('#track-details').on('show.bs.collapse', function () {
    $('html, body').animate({
      scrollTop: $('#track-details').offsetParent().height()
    }, 300, function(){ window.location.hash = "#track-details"; });
  });
  $('#track-details').on('hide.bs.collapse', function () {
    $('html, body').animate({scrollTop: 0}, 300, function(){
      window.location.hash = "#";
    });
  });
});
    </script>
    <script src="{{ static_url("js/mprisweb.js") }}"></script>
  </body>
</html>
